@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i&subset=cyrillic');

/* Colors */
:root {
	--yalightgray: #f5f5f5;
	--yagray: #c0c0c0;
	--yadarkgray: #696969;
	
	--yablack: #000000;
	--yawhite: #ffffff;
	
	--yalightblue: #87cefa;
	--yablue: #1e90ff;
	--yadarkblue: #003375;
	--yablackblue: #00214c;
	
	--yalightyellow: #ffe687;
	--yayellow: #fdba4d;
	--yadarkyellow: #ff9e00;
}

body {
	font-family: 'PT Sans', sans-serif;
	/* font-family: 'PT Sans Narrow', sans-serif; */
	overflow: auto;
}
h1, h2, h3 {
	font-weight: 700;
}
.alert {
	display: none;
}
.mob {
	display: none;
}

.bg-yawhite {background-color: var(--yawhite);}
.bg-yalightgray {background-color: var(--yalightgray);}
.bg-yagray {background-color: var(--yagray);}
.bg-yadarkgray {background-color: var(--yadarkgray);}
.bg-yablack {background-color: var(--yablack);}
.bg-yawhite {background-color: var(--yawhite);}
.bg-yalightblue {background-color: var(--yalightblue);}
.bg-yablue {background-color: var(--yablue);}
.bg-yadarkblue {background-color: var(--yadarkblue);}
.bg-yablackblue {background-color: var(--yablackblue);}
.bg-yalightyellow {background-color: var(--yalightyellow);}
.bg-yayellow {background-color: var(--yayellow);}
.bg-yadarkyellow {background-color: var(--yadarkyellow);}


.c-yalightgray {color: var(--yalightgray);}
.c-yagray {color: var(--yagray);}
.c-yadarkgray {color: var(--yadarkgray);}
.c-yablack {color: var(--yablack);}
.c-yawhite {color: var(--yawhite);}
.c-yalightblue {color: var(--yalightblue);}
.c-yablue {color: var(--yayablue);}
.c-yadarkblue {color: var(--yadarkblue);}
.c-yalightyellow {color: var(--yalightyellow);}
.c-yayellow {color: var(--yayellow);}
.c-yadarkyellow {color: var(--yadarkyellow);}

a, a:focus, a:active, a:visited {
	color: var(--yadarkblue);
	text-decoration: none;
	transition: .3s;
}
a:hover {
	color: var(--yablackblue);
	text-decoration: none;
	transition: .3s;
}

.but {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: none;
	padding: 8px 16px;
}
.but svg {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
.but-blue, .but-blue:active, .but-blue:focus, .but-blue:visited {
	background-color: var(--yadarkblue);
	color: var(--yawhite);
	transition: .3s;
}
.but-blue:hover {
	background-color: var(--yablackblue);
	color: var(--yawhite);
	transition: .3s;
	text-decoration: none;
}

.but-yell, .but-yell:active, .but-yell:focus, .but-yell:visited {
	background-color: var(--yayellow);
	color: var(--yablack);
	transition: .3s;
}
.but-yell:hover {
	background-color: var(--yadarkyellow);
	color: var(--yawhite);
	transition: .3s;
	text-decoration: none;
}

.but-white, .but-white:active, .but-white:focus, .but-white:visited {
	background-color: var(--yawhite);
	color: var(--yadarkblue);
	transition: .3s;
}
.but-white:hover {
	background-color: var(--yawhite);
	color: var(--yablackblue);
	transition: .3s;
	text-decoration: none;
}
.but-white svg {
	fill: var(--yadarkblue);
}
.but-white:hover svg {
	fill: var(--yablackblue);
}

.form-control:focus {
    border-color: var(--yadarkblue);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(30, 144, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(30, 144, 255, 0.25);
}


.top-row {
}
.top-row svg {
	width: 150px;
	height: 45px;
	fill: var(--yablack);
}
.top-row ul {
	list-style: none;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	text-transform: uppercase;
}
.top-row ul li {
	display: inline-block;
}
.top-row a.phone {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
}
.top-row ul li a, .top-row ul li a:focus, .top-row ul li a:active, .top-row ul li a:visited, .top-row a.phone, .top-row a.phone:focus .top-row a.phone:active, .top-row a.phone:visited {
	color: var(--yablack);
	transition: .3s;
}
.top-row ul li a:hover, .top-row a.phone:hover {
	color: var(--yadarkblue);
	transition: .3s;
	text-decoration: none;
}

.mob-menu {
	display: none;
}
.mob-menu ul {
	list-style: none;
}
.mob-menu ul li {
	display: inline-block;
	width: 49.4%;
}

.slider-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 600px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-pagination-bullet-active {
    background-color: var(--yadarkblue);
}
.slider-next, .slider-prev {
    position: absolute;
    font-size: 24px;
    top: 50%;
    margin-top: -43px;
    padding: 25px 15px;
    background-color: rgba(255, 255, 255, .35);
    z-index: 10;
    cursor: pointer;
}
.slider-next {
    right: 0;
}
.slider-prev {
    left: 0;
}
.banner-link {
	width: 100%;
    height: 100%;
}
.menu {
	font-size: 1.2em;
}
.menu a, .menu a:active, .menu a:focus, .menu a:visited {
	color: var(--yawhite);
	text-decoration: none;
	transition: .3s;
	font-size: 1.2em;
	font-family: 'PT Sans Narrow', sans-serif;
}
.menu a:hover {
	color: var(--yalightblue);
	text-decoration: none;
	transition: .3s;
}

.ui-corner-all {
	border-radius: 0;
}
.ui-widget-header {
    background: var(--yayellow);
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background: var(--yadarkblue);
	border: 1px solid var(--yablackblue);
}

.breadcrumbs {
	font-size: 0.8em;
}
.breadcrumbs ul {
	list-style: none;
}
.breadcrumbs ul li {
}

.page-nav {
}
.page-nav ul {
	list-style: none;
}
.page-nav ul li {
	display: inline-block;
	color: var(--yagray);
}
.page-nav ul li.active {
	color: var(--yablack);
	border: var(--yadarkgray) 1px solid;
	border-radius: 50%;
}
.page-nav ul li.pages:hover, .page-nav ul li.pages:focus, .page-nav ul li.pages:active {
	border: var(--yagray) 1px solid;
	background: var(--yalightgray);
	border-radius: 50%;
	cursor: pointer;
}
.page-nav ul li a, .page-nav ul li a:focus, .page-nav ul li a:active, .page-nav ul li a:visited {
	color: var(--yadarkblue);
	text-decoration: none;
	transition: .3s;
}
.page-nav ul li a:hover {
	color: var(--yablackblue);
	text-decoration: none;
	transition: .3s;
}

.footer {
	color: var(--yagray);
	font-size: 0.7em;
}
.footer svg {
	fill: var(--yagray);
	width: 120px;
	height: 36px;
}
.footer a, .footer a:focus, .footer a:active, .footer a:visited {
	color: var(--yagray);
	text-decoration: none;
	transition: .3s;
}
.footer a:hover {
	color: var(--yalightgray);
	text-decoration: none;
	transition: .3s;
}
.footer .social {
	font-size: 2em;
    text-align: right;
}

.remodal-overlay {
    background: rgba(0, 0, 0, .9);
}

.remodal-close,
.remodal-close:before {
    top: 0;
    left: unset;
    right: 0;
}
@media only screen and (min-width: 641px) {
  .remodal {
	  max-width: 500px;
  }
  .remodal.big {
	  max-width: 800px;
  }
}

@media (max-width: 991px) {
	
    .mob {
        display: block;
    }
    .pc {
        display: none;
    }
	.footer .social {
		text-align: left;
	}
}

@media (max-width: 991px) {
    /* CSS для ширины от 768px до 991px */
    
}


/* sm-размер (<=768px) */
@media (max-width: 768px) {
    /* CSS для ширины от 576px до 767px */
    .swiper-slide {
		height: 460px;
	}
}
